In [1]:
import pandas as pd
import input_generator

Using TensorFlow backend.

In [11]:
reload(input_generator)

In [12]:
path_tokens = '/eos/user/l/llayer/AIErrorLogAnalysis/data/word2vec/tokens_index_avg.h5'
path_actionshist = '/eos/user/l/llayer/AIErrorLogAnalysis/data/actionshist/actionshistory_300719.json'

In [13]:
frame, sites, codes = input_generator.create_input(path_actionshist, path_tokens)

Loading actionshist and generating keys
Loading tokens
Aggregating tokens
Merging the frames
Aggregating the frames
Storing the frame

In [37]:
frame.head()

,task_name,label,error,site,site_state,count,error_msg_tokenized
0,/amaltaro_Run2016D-v2-DoubleMuonLowMass-07Aug1...,0,"[-1, -1]","[T1_US_FNAL_Disk, T3_US_FNALLPC]","[bad, bad]","[1, 1]","[nan, nan]"
1,/amaltaro_Run2016D-v2-DoubleMuonLowMass-07Aug1...,0,"[-1, -1]","[T3_US_FNALLPC, T1_US_FNAL_Disk]","[bad, bad]","[1, 1]","[nan, nan]"
2,/amaltaro_Run2016D-v2-DoubleMuonLowMass-07Aug1...,0,"[-1, -1]","[T3_US_FNALLPC, T1_US_FNAL_Disk]","[bad, bad]","[1, 1]","[nan, nan]"
3,/amaltaro_Run2018A-v1-DoubleMuon-17Sep2018_102...,0,"[-1, -1, -1, -1, 85]","[T1_DE_KIT_Disk, T0_CH_CERN_MSS, T0_CH_CERN_Ex...","[bad, bad, bad, bad, good]","[1, 1, 1, 1, 1]","[nan, nan, nan, nan, [[14, 32, 67, 44, 7, 6, 8..."
4,/amaltaro_Run2018A-v1-DoubleMuon-17Sep2018_102...,0,"[50664, -1, -1]","[T2_DE_RWTH, T2_DE_RWTH, T2_CH_CERN]","[good, good, good]","[2, 1, 1]","[[[17, 1, 6, 189, 280, 179, 7, 341, 3, 140, 13..."

In [25]:
def store():
    
    mode='tokens'
    store_path='/eos/user/l/llayer/AIErrorLogAnalysis/data/input/'
    outfile = store_path + 'input_' + mode + '.h5'

    frame.to_hdf(store_path + 'input_' + mode + '.h5', 'frame')

In [16]:
mode = 'tokens'
store_path='/eos/user/l/llayer/AIErrorLogAnalysis/data/input/'
outfile = store_path + 'input_' + mode + '.h5'
test = pd.read_hdf( outfile , 'frame2')

In [17]:
test.head()

                site  counts  frequency  only_unknown
0     NoReportedSite  163866       1964         False
1         T0_CH_CERN    9175        930         False
2    T0_CH_CERN_Disk    1882       1882          True
3  T0_CH_CERN_Export     569        569          True
4     T0_CH_CERN_MSS     583        583          True